@{ }
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>

<body>
    <img src="~/images/7c72843cc6c94c286089fbe3823bd755.gif"/>
    <ul>
        <li> <a href="/Oefening/Page1"> Page 1</a></li>
        <li> <a href="/Oefening/Page2"> Page 2</a></li>
    </ul>
</body>

</html>